.aside {
    width: 220px;
    height: 100%;
    position: fixed;
    position: -webkit-fixed;
    left: 0;
    top: 0;
    /* background-color: #F6F8FA; */
    background-color: #EBECF0;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.10);
    height: 100%;
}

.menu{
    padding: var(--space-m);
    display: flex;
    align-items: center;
}

@media only  screen and (max-width: 768px) {
    .aside {
        display: none;
    }
}